/*@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');*/
/**{*/
/*    font-family: 'Cairo', sans-serif;*/
/*}*/
*{
    font-family: "Segoe UI", sans-serif;
}

/*admin list user*/

.dataUser{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.dataUser .dataUser-box{
    border: 1px solid rgba(0,0,0,0.1);
    padding: 1em 1em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

.user-item-content .formNewCategory,
.user-item-content .formUpdateCategory{
    width: 100%;
    padding: 1em 1em;

}
.user-item-content .formNewCategory div textarea:focus,
.user-item-content .formupdateCategory div textarea:focus{
    outline: 1px solid var(--primary);
    border: 1px solid var(--primary);
}

/*Financeiro*/
/*header-itemNav*/
.header-item-nav a.active{
    background-color: var(--gray-dark);
}
/*Despesas nav*/
.item .despesasNav{
    display: flex;
    align-items: center;
}
.item .despesasNav a{
    text-decoration: none;
}
.item .despesasNav a:hover{
    background-color: var(--indigo);
}

.item#despesas{
    display: none;
}